:root {
  --title: "Fira Sans", sans-serif;
  --red: #ee3643;
  --green: #63a63e;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header {
  background-color: #f3f7f9;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  min-height: 44px;
  margin: 0 auto;
  padding: 10px 0;
}

.top-header__title {
  color: var(--red);
  max-width: 590px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  margin: 0;
}

.top-header__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  max-width: 555px;
  margin-right: 3px;
}

.top-header__contacts-address {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.top-header__contacts-tel {
  position: relative;
  display: block;
  color: #293449;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 24px;
  transition: all 0.2s ease-in;
}

.top-header__contacts-tel:hover {
  opacity: 0.7;
}

.top-header__contacts-tel:focus {
  outline-offset: 2px;
  outline: 1px solid #293449;
  border-radius: 2px;
}

.top-header__contacts-tel:active {
  opacity: 0.4;
}

.top-header__contacts-tel::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/icon-phone.svg");
}

.middle-header {
  background-color: #293449;
  color: #ffffff;
}

.middle-header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1170px;
  min-height: 45px;
  margin: 0 auto;
}

.middle-header__logo-link {
  width: 220px;
  height: 50px;
  position: absolute;
  top: 0;
}

.middle-header__logo,
.main-footer__logo {
  transition: all 0.2s ease-in;
}

.middle-header__logo:hover,
.main-footer__logo:hover {
  opacity: 0.7;
}

.middle-header__logo:active,
.main-footer__logo:active {
  opacity: 0.4;
}

.middle-header__search-input {
  width: 716px;
  height: 45px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #556981;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 20px 11px 53px;
  background-image: url("../images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: left 21px top 50%;
  margin-left: 220px;
}

.middle-header__search-input::placeholder {
  color: #cccccc;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.middle-header__search-input:hover {
  border-color: var(--green);
  cursor: url("../images/decor/cursor.svg"), pointer;
  color: #293449;
}

.middle-header__search-input:focus {
  background-color: #f1f5f7;
  background-image: url("../images/icons/icon-search-blue.svg");
  outline: 1px solid #ffbf47;
  color: #293449;
}

.middle-header__search-input:focus::placeholder {
  color: #293449;
}

.middle-header__search-input:disabled {
  opacity: 0.5;
  background-color: #f1f5f7;
  border-color: #c5c5c5;
  color: #808080;
  cursor: default;
}

/* Класс "search-input__error" для отображении ошибки */
.search-input__error.middle-header__search-input {
  border-color: var(--red);
}

.search-input__error.middle-header__search-input:hover,
.search-input__error.middle-header__search-input:focus {
  outline: 1px solid var(--red);
}

/*Класс "unauthorized-user" добавляется к классу "middle-header-container" для отображения меню неавторизованного пользователя.
Класс "authorized-user" добаляется для отображения авторизованного пользователя */
.unauthorized-user .middle-header__login-wrapper {
  display: block;
}

.authorized-user .middle-header__logout-wrapper {
  display: flex;
}

.middle-header__login-wrapper {
  max-width: 232px;
  align-self: center;
  position: relative;
  display: none;
  margin-left: auto;
}

.middle-header__login-button {
  color: #f1f5f7;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../images/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-right: 3px;
  padding-left: 28px;
  transition: all 0.2s ease-in;
}

.middle-header__login-button:hover {
  opacity: 0.7;
}

.middle-header__login-button:active {
  opacity: 0.4;
}

/* Класс "popover__active" для открытия поповера.
Поповер работает по кнопке "Войти".
Для входа в личный кабинет: login: "user", password: "123".
После введения логина и пароля хедер отображается в залогиненном состоянии.
Кнопка "Выйти" работает. */
.popover.popover__active {
  display: block;
}

.popover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 273px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  padding: 22px 29px 35px 31px;
}

.popover__close-button {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-image: url("../images/decor/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

/* Класс "popover-login" для отображения поповера неавторизованного пользователя */
.popover-login .popover__content {
  display: flex;
}

.popover__content {
  display: none;
  flex-wrap: wrap;
  height: 100%;
  color: #000000;
}

.popover__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 43px 0;
}

.popover__form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.popover__input {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #c5c5c5;
  outline: none;
  padding: 8px 14px 12px;
  color: #556981;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.2 ease-in;
}

.popover__input::placeholder {
  color: #cccccc;
}

.popover__input:hover {
  border: 1px solid var(--green);
  color: #293449;
  cursor: url("../images/decor/cursor.svg"), pointer;
}

.popover__input:focus {
  border: 1px solid var(--green);
  outline: 1px solid #ffbf47;
  color: #293449;
}

.popover__input:disabled,
.popover__input:disabled:hover {
  color: #808080;
  background-color: #f1f5f7;
  opacity: 0.5;
  outline: 1px solid #c5c5c5;
  cursor: default;
}

/* Класс "popover__input__error" добавляется инпуту для отображения ошибки */
.popover__input__error {
  border-color: var(--red);
}

.popover__input.popover__input__error:hover,
.popover__input.popover__input__error:focus {
  border-color: var(--red);
  outline: 1px solid var(--red);
}

.popover__input:not(:last-of-type) {
  margin-bottom: 7px;
}

.popover__input:last-of-type {
  margin-bottom: 12px;
}

.popover__label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}

.popover__label {
  display: flex;
  align-items: center;
}

.popover__input-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #3d546f;
  margin-right: 18px;
}

.popover__checkbox:checked + .popover__input-mark {
  background-image: url("../images/decor/check-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popover__input-span {
  font-size: 14px;
  line-height: 18px;
  margin-right: 13px;
}

.popover__forgot-password {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.popover__login-button {
  display: flex;
  align-items: center;
  width: 145px;
  min-height: 40px;
  border: none;
  background-color: var(--green);
  color: #ffffff;
  background-image: url("../images/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left 23px center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 11px 11px 45px;
  cursor: url("../images/decor/cursor.svg"), pointer;
  text-decoration: none;
  margin: 0 5px 11px -5px;
  transition: all 0.2s ease-in;
}

.popover__login-button:disabled,
.popover__login-button:disabled:hover,
.popover__login-button:disabled:active {
  opacity: 0.4;
  cursor: default;
  background-color: #518534;
}

.popover__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  min-height: 40px;
  color: #32425c;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid var(--green);
  background-color: #ffffff;
  cursor: pointer;
  padding: 9px 9px;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.popover__button:hover {
  border-color: #3d546f;
}

.popover__button:active {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

/* Класс "popover__button__disabled" для неактивной кнопки */
.popover__button__disabled.popover__button,
.popover__button__disabled.popover__button:hover,
.popover__button__disabled.popover__button:active {
  opacity: 0.4;
  cursor: default;
  border-color: #c5c5c5;
  color: #c5c5c5;
}

/* Класс "popover-logout" для отображения поповера авторизованного пользователя */
.popover-logout .popover__content-login {
  display: flex;
}

.popover__content-login {
  display: none;
  flex-direction: column;
  height: 100%;
  color: #000000;
}

.popover__title-login {
  margin-bottom: 26px;
}

.popover__link {
  color: #3d546f;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.popover__orders-link {
  margin-bottom: 23px;
}

.popover__cabinet-link {
  margin-bottom: 24px;
}

.middle-header__logout-wrapper {
  max-width: 232px;
  display: none;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.middle-header__profile-link {
  position: relative;
  color: #f1f5f7;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  padding-left: 24px;
}

.middle-header__profile-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/icon-user.svg");
}

.middle-header__logout-button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  margin-left: 18px;
}

.bottom-header {
  background-color: #3d546f;
  color: #ffffff;
  margin-bottom: 52px;
}

.bottom-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 1170px;
  min-height: 70px;
  margin: 0 auto;
}

.bottom-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 850px;
  margin: 0 0 0 -19px;
  padding: 0;
}

.bottom-header__nav-item {
  list-style: none;
}

/* Класс "bottom-header__nav-item__active" для отображения активного раздела меню */
.bottom-header__nav-item__active .bottom-header__nav-link {
  background-color: #32425c;
  color: #ffffff;
}

.bottom-header__nav-link {
  display: block;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  padding: 21px 23px 24px 23px;
}

.bottom-header__nav-link:hover {
  background-color: #32425c;
  color: #c5c5c5;
}

.bottom-header__menu-wrapper {
  display: flex;
  align-items: center;
  max-width: 338px;
}

.bottom-header__menu-list {
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
}

.bottom-header__menu-item {
  list-style: none;
}

.bottom-header__menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 3px;
}

.favorites-icon,
.basket-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in;
}

.favorites-icon:hover,
.basket-icon:hover {
  transform: scale(1.1);
}

.favorites-icon:active,
.basket-icon:active {
  opacity: 0.6;
}

.favorites-icon {
  background-image: url("../images/icons/icon-favorites.svg");
}

.basket-icon {
  background-image: url("../images/icons/icon-cart.svg");
}

.favorites-counter,
.basket-counter {
  display: none;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Класс "menu__authorized-user" добавляется к классу "bottom-header__menu-list" для отображения закладок и товаров в корзине авторизованного пользователя */
.menu__authorized-user .favorites-counter,
.menu__authorized-user .basket-counter {
  display: block;
}

.favorites-counter {
  margin-left: 8px;
  letter-spacing: 2px;
}

.basket-counter {
  margin-left: 6px;
  letter-spacing: 2px;
}

.button {
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--green);
  padding: 12px 10px;
  transition: all 0.2s ease-in;
}

.menu-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  min-height: 42px;
  margin: 0 3px 0 23px;
}

.menu-order:hover,
.popover__login-button:hover {
  background-color: #5fbb2d;
  cursor: url("../images/decor/cursor.svg"), pointer;
}

.menu-order:active,
.popover__login-button:active {
  background-color: #518534;
}

/* Класс "menu-order__disabled" для неактивной кнопки */
.menu-order__disabled.menu-order,
.menu-order__disabled.menu-order:hover,
.menu-order__disabled.menu-order:active {
  opacity: 0.4;
  cursor: default;
  background-color: #518534;
}

.main-index {
  flex-grow: 1;
}

.site-nav {
  margin-bottom: 50px;
}

.site-nav-container {
  max-width: 1170px;
  margin: 0 auto;
}

.site-nav__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 1fr);
  gap: 27px 30px;
  margin: 0;
  padding: 0;
}

.site-nav__item {
  position: relative;
  width: 370px;
  min-height: 180px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: right 37px center;
  padding: 20px 70px 33px 25px;
  overflow: hidden;
}

.site-nav__item::before {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  content: "NEW";
  top: 9px;
  right: -25px;
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--red);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Класс "site-nav__item__new" для отображения пометки "NEW"*/
.site-nav__item__new.site-nav__item::before {
  display: flex;
}

.site-nav__item-title {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 57px 0;
}

.site-nav__item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  min-height: 40px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ffffff;
  background-image: url("../images/decor/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: left 6px center;
  padding: 8px 6px 8px 28px;
  transition: all 0.2s ease-in;
}

.site-nav__item-link:hover {
  box-shadow: 6px 10px 0 rgba(0, 0, 0, 0.06);
}

.site-nav__item-link:active {
  opacity: 0.5;
}

.site-nav__slider {
  grid-row: 2/4;
  position: relative;
  width: 770px;
  min-height: 390px;
  list-style: none;
  color: #ffffff;
}

.site-nav__slider-list {
  width: 770px;
  height: 390px;
  margin: 0;
  padding: 0;
}

/* Класс "slider-active" для отображения активного слайда.
Слайдер работает на кнопках. */
.site-nav__slider-item.slider-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes slide-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-nav__slider-item {
  display: none;
  justify-content: flex-start;
  width: 770px;
  height: 390px;
  background-color: #293449;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 50px 40px 50px;
  overflow: hidden;
  list-style: none;
  animation: slide-appearance 0.3s ease-in;
}

.site-nav__slider-title {
  font-family: var(--title);
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.site-nav__slider-desc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 179px 0;
}

.site-nav__slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../images/decor/arrow-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(41, 52, 73, 0.6);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.site-nav__slider-button:hover {
  opacity: 0.7;
}

.site-nav__slider-button:active {
  opacity: 0.4;
}

.prev-button {
  left: 20px;
}

.next-button {
  transform: translateY(-30%) rotate(180deg);
  right: 20px;
}

@keyframes button-appearance {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-nav__slider-link {
  min-width: 195px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: var(--red);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 13px 5px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  animation: button-appearance 0.4s cubic-bezier(0.5, -0.46, 0.4, 1.65);
}

.site-nav__slider-link:hover,
.about__link:hover {
  background-color: #ca2c37;
}

.site-nav__slider-link:active,
.about__link:active {
  background-color: #ba2732;
}

/* Класс "disabled__button" для неактивной кнопки */
.disabled__button.site-nav__slider-link,
.disabled__button.site-nav__slider-link:hover,
.disabled__button.site-nav__slider-link:active {
  opacity: 0.4;
  cursor: default;
  background-color: #ba2732;
}

.slider-drill {
  background-image: url("../images/bg-drill.jpg");
}

.slider-hammer {
  background-image: url("../images/bg-hammer.jpg");
}

.slider__pagination-list {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.slider__pagination-item {
  list-style: none;
}

/* Класс "slider__pagination-button__active" для отображения активного элемента пагинации */
.slider__pagination-button.slider__pagination-button__active {
  background-color: #ffffff;
}

.slider__pagination-button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #ffd180;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease-in;
}

.slider__pagination-button:hover {
  opacity: 0.7;
}

.slider__pagination-button:active {
  opacity: 0.4;
}

.slider__pagination-button__active:hover,
.slider__pagination-button__active:focus,
.slider__pagination-button__active:active {
  opacity: 1;
  cursor: default;
  outline: none;
}

.site-nav__materials {
  background-color: #ffbf47;
  background-image: url("../images/icons/icon-materials.svg");
}

.site-nav__tools {
  background-color: #3bbce3;
  background-image: url("../images/icons/icon-tools.svg");
}

.site-nav__technique {
  background-color: #dc91d8;
  background-image: url("../images/icons/icon-technique.svg");
}

.site-nav__discounts {
  grid-column: -1/-2;
  background-color: #8ed78f;
  background-image: url("../images/icons/icon-discounts.svg");
}

.site-nav__delivery {
  grid-column: -1/-2;
  background-color: #ffbf47;
  background-image: url("../images/icons/icon-delivery.svg");
}

.catalog {
  padding-bottom: 53px;
}

.catalog-container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: var(--title);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.catalog__title {
  margin: 0 0 26px 0;
}

.catalog__wrapper {
  display: flex;
  gap: 74px;
}

.catalog__filter {
  width: 220px;
}

.catalog__filter-group {
  border: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.fieldset-manufacturers {
  margin-bottom: 45px;
}

.fieldset-supply {
  margin: 0 0 45px 5px;
}

.catalog__filter-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
  padding: 0;
}

.legend-manufacturers {
  margin-bottom: 16px;
}

.legend-supply {
  margin-bottom: 18px;
}

.range-bar-wrapper {
  position: relative;
  width: 220px;
  height: 40px;
  background-color: #f7f3ec;
  padding: 19px 20px;
  margin-bottom: 7px;
}

.range-bar-wrapper::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 1px;
  background-color: #293449;
}

.catalog__filter-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #3d546f;
}

.catalog__filter-bar {
  position: absolute;
  background-color: #5fbb2d;
  height: 2px;
}

.catalog__filter-scale-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.catalog__filter-scale-button:hover {
  background-color: #518534;
}

.catalog__filter-scale-button:active {
  background-color: #5fbb2d;
}

.catalog__filter-scale-button:disabled,
.catalog__filter-scale-button:hover:disabled,
.catalog__filter-scale-button:active:disabled {
  background-color: #5fbb2d;
  opacity: 0.4;
}

.min-button {
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}

.max-button {
  top: 0;
  right: 0;
  transform: translate(15%, -50%);
}

.catalog__filter-cost {
  color: #556981;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 95px;
  height: 40px;
  border-radius: 2px;
  background-color: #f7f3ec;
  border: 1px solid transparent;
  padding: 11px 15px;
  transition: all 0.2s ease-in;
}

.catalog__filter-cost:hover {
  border-color: var(--green);
  cursor: url("../images/decor/cursor.svg"), pointer;
}

.catalog__filter-cost:focus {
  outline: 1px solid #ffbf47;
}

.catalog__filter-cost:disabled {
  opacity: 0.4;
  cursor: default;
  outline: none;
  border-color: transparent;
}

.catalog__filter-cost::-webkit-outer-spin-button,
.catalog__filter-cost::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.catalog__filter-cost[type="number"] {
  -moz-appearance: textfield;
}

.catalog__filter-cost:not(:last-child) {
  margin-right: 25px;
}

.catalog__filter-list {
  margin: 0;
  padding: 0;
}

.catalog__filter-item {
  list-style: none;
}

.catalog__filter-item:not(:last-child) {
  margin-bottom: 19px;
}

.catalog__label {
  display: flex;
}

.catalog__label:hover .catalog__mark {
  opacity: 0.6;
}

.catalog-input:focus + .catalog__mark {
  opacity: 0.6;
}

.catalog-input:disabled + .catalog__mark,
.catalog-input:disabled ~ .catalog__span {
  opacity: 0.4;
}

.catalog__mark {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #32425c;
}

.catalog__span {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 15px;
}

.catalog-input[type="checkbox"]:checked + .catalog__mark {
  background-image: url("../images/decor/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-input[type="radio"] + .catalog__mark {
  border-radius: 50%;
}

.catalog-input[type="radio"]:checked + .catalog__mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #3d546f;
  border-radius: 50%;
}

.button-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #32425c;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 220px;
  min-height: 40px;
  border-radius: 2px;
  border: 2px solid #3d546f;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button-filter:hover {
  border-color: var(--green);
}

.button-filter:focus {
  outline: 1px solid #ffbf47;
}

.button-filter:active {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.button-filter:disabled,
.button-filter:hover:disabled,
.button-filter:active:disabled {
  opacity: 0.4;
  border-color: #c5c5c5;
  color: #c5c5c5;
  cursor: default;
}

.catalog__right-column {
  padding-top: 32px;
}

.catalog-select {
  width: 280px;
  height: 40px;
  color: #3d546f;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 2px;
  border: 1px solid #3d546f;
  background-color: #ffffff;
  background-image: url("../images/decor/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  margin: 0 0 31px 5px;
  padding: 8px 25px 8px 16px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.catalog-select:hover {
  border-color: var(--green);
  cursor: url("../images/decor/cursor.svg"), pointer;
}

.catalog-select:focus {
  outline: 1px solid #ffbf47;
  background-image: url("../images/decor/arrow-select-green.svg");
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 29px 33px;
  margin: 0 0 32px 0;
  padding: 0;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  min-height: 380px;
  text-align: center;
  list-style: none;
  padding: 27px 27px 23px 27px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.catalog__item:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.catalog__item:hover .catalog__hover-wrapper {
  display: flex;
}

.catalog__item:focus-within {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.catalog__item:focus-within .catalog__hover-wrapper {
  display: flex;
}

.catalog__item::before {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  content: "NEW";
  top: 9px;
  right: -25px;
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--red);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 2;
}

/* Класс "catalog__item__new" для отображения нового товара */
.catalog__item__new.catalog__item::before {
  display: flex;
}

.card-image {
  display: flex;
  margin-bottom: 14px;
}

@keyframes card-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.catalog__hover-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 216px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 27px;
  animation: card-appearance 0.3s ease-out;
}

.catalog__hover-buy {
  display: flex;
  align-items: center;
  width: 135px;
  min-height: 40px;
  background-color: var(--green);
  color: #ffffff;
  background-image: url("../images/icons/icon-cart-small.svg");
  background-repeat: no-repeat;
  background-position: left 23px center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 11px 11px 45px;
  cursor: url("../images/decor/cursor.svg"), pointer;
  text-decoration: none;
  margin-bottom: 11px;
  transition: all 0.2s ease-in;
}

.catalog__hover-buy:hover {
  background-color: #5fbb2d;
}

.catalog__hover-buy:active {
  background-color: #518534;
}

.catalog__hover-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 40px;
  color: #32425c;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid var(--green);
  background-color: #ffffff;
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s ease-in;
}

.catalog__hover-bookmark:hover {
  border-color: #3d546f;
}

.catalog__hover-bookmark:active {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.catalog__hover-bookmark:disabled,
.catalog__hover-bookmark:hover:disabled,
.catalog__hover-bookmark:active:disabled {
  opacity: 0.4;
  border-color: #c5c5c5;
  color: #c5c5c5;
  cursor: default;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 13px 0;
}

.card-old-price {
  display: block;
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: line-through;
  margin-bottom: 12px;
  visibility: hidden;
}

/* Класс "card-old-price__show" для отображения старой стоимости */
.card-old-price__show {
  visibility: visible;
}

.card-price-link {
  display: flex;
  align-items: center;
  width: 139px;
  height: 40px;
  -webkit-mask: url("../images/decor/button-red.svg");
  mask: url("../images/decor/button-red.svg");
  background-color: var(--red);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in;
  padding: 11px 10px 11px 29px;
}

.card-price-link:hover,
.catalog__pagination-button:hover {
  background-color: #ca2c37;
}

.card-price-link:focus {
  background-color: #87272e;
}

.card-price-link:active,
.catalog__pagination-button:active {
  background-color: #ba2732;
}

.catalog__pagination-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 0 222px;
  padding: 0;
}

.catalog__pagination-item {
  list-style: none;
}

.catalog__pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 45px;
  background-color: #3d546f;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in;
  padding: 5px;
}

.catalog__pagination-link:hover {
  opacity: 0.7;
}

.catalog__pagination-link:active {
  opacity: 0.4;
}

/* Класс "catalog__pagination-link__disabled" для неактивной кнопки */
.catalog__pagination-link__disabled,
.catalog__pagination-link__disabled:hover,
.catalog__pagination-link__disabled:active {
  opacity: 0.2;
  cursor: default;
}

.catalog__pagination-link__active:hover,
.catalog__pagination-link__active:active {
  opacity: 1;
  cursor: default;
}

.catalog__pagination-link__active {
  color: #3d546f;
  background-color: #ffffff;
}

.catalog__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  min-height: 45px;
  border-radius: 2px;
  background-color: var(--red);
  transition: all 0.2s ease-in;
  margin-left: 9px;
}

.services {
  background-color: #f4f7f9;
  padding: 52px 0 53px 0;
}

.services-container {
  max-width: 1170px;
  margin: 0 auto;
}

.services__title {
  margin: 0 0 30px 0;
  text-align: center;
}

.services__desc {
  text-align: center;
  font-size: 18px;
  margin: 0 auto 64px auto;
  width: 556px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.services__item {
  width: 370px;
  min-height: 382px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: left 31px top 24px;
  list-style: none;
  padding: 160px 39px 30px 31px;
}

.services__delivery {
  background-image: url("../images/icons/icon-delivery-red.svg");
}

.services__guarantee {
  background-image: url("../images/icons/icon-discounts-red.svg");
  padding-right: 34px;
  padding-left: 35px;
}

.services__credit {
  background-image: url("../images/icons/icon-materials-red.svg");
}

.services__item-title {
  color: #32425c;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

.services__guarantee .services__item-title {
  margin-left: -3px;
}

.services__item-desc {
  color: #000000;
  margin: 0;
}

.wrapper-blocks {
  padding: 52px 0 48px 0;
}

.wrapper-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.about {
  width: 500px;
}

.about__title {
  margin: 0 0 23px 0;
}

.about__desc {
  margin: 0;
}

.about__desc:first-of-type {
  margin-bottom: 24px;
}

.about__desc:nth-of-type(2) {
  margin-bottom: 52px;
}

.about__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  min-height: 45px;
  border-radius: 2px;
  background-color: var(--red);
  transition: all 0.2s ease-in;
}

.contacts {
  width: 500px;
}

.contacts__title {
  margin: 0 0 23px 0;
}

.contacts__desc {
  margin: 0 0 31px 0;
}

.contacts__link {
  transition: all 0.2s ease-in;
}

.contacts__link:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.contacts__link:active {
  opacity: 0.6;
}

.contacts__image {
  display: block;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
  padding-bottom: 33px;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.main-footer__left-column {
  width: 500px;
}

.main-footer__logo {
  display: block;
  margin-bottom: 21px;
  transition: all 0.2s ease-in;
}

.main-footer__contacts-address {
  color: #f3f7f9;
  font-style: normal;
  margin: 0 0 21px 0;
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.main-footer__social-item {
  list-style: none;
}

.main-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in;
}

.main-footer__social-link:hover {
  background-color: #293449;
}

.social-pinterest {
  background-image: url("../images/logo/logo-pin.svg");
  background-position: left 7px top 7px;
}

.social-vk {
  background-image: url("../images/logo/logo-vk.svg");
}

.social-vsco {
  background-image: url("../images/logo/logo-vsco.svg");
  background-position: left 6.7px top 6.5px;
}

.main-footer__right-column {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 500px;
}

.main-footer__feedback {
  margin-bottom: 29px;
}

.feedback-title {
  text-align: right;
  font-weight: 400;
  margin: 15px 0 0 0;
}

.feedback-link {
  display: block;
  width: 165px;
  color: #ffd180;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.feedback-link:hover,
.copyright-link:hover {
  color: #ffbf47;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.subscribe-label {
  display: flex;
  justify-content: end;
  margin-bottom: 2px;
}

.subscribe-input-wrapper {
  display: flex;
}

.subscribe-input {
  width: 223px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--green);
  background-color: #ffffff;
  color: #556981;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 16px 12px 16px;
}

.subscribe-input::placeholder {
  color: #cccccc;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.subscribe-input:hover {
  color: #293449;
  cursor: url("../images/decor/cursor.svg"), pointer;
}

.subscribe-input:focus {
  outline: 1px solid #ffbf47;
  color: #293449;
}

.subscribe-input:disabled {
  opacity: 0.5;
  background-color: #f1f5f7;
  color: #808080;
  border-color: #c5c5c5;
  cursor: default;
}

/* Класс "subscribe-input__error" для отображения ошибки */
.subscribe-input.subscribe-input__error {
  border-color: var(--red);
}

.subscribe-input.subscribe-input__error:hover,
.subscribe-input.subscribe-input__error:focus {
  outline: 1px solid var(--red);
}

.subscribe-button {
  width: 40px;
  height: 40px;
  background-color: var(--green);
  border: none;
  border-radius: 2px;
  margin-left: -3px;
  background-image: url("../images/icons/icon-cart-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: url("../images/decor/cursor.svg"), pointer;
  transition: all 0.2s ease-in;
}

.subscribe-button:hover {
  background-color: #5fbb2d;
}

.subscribe-button:active {
  background-color: #518534;
}

.subscribe-button:disabled,
.subscribe-button:hover:disabled,
.subscribe-button:active:disabled {
  background-color: #518534;
  opacity: 0.4;
  cursor: default;
}

.copyright-footer {
  background-color: #293449;
  color: #ffffff;
  padding: 21px 0;
}

.copyright-footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.copyright-text {
  max-width: 600px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.copyright-developed {
  max-width: 400px;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.copyright-link {
  color: #ffd180;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
